html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #171010;
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: width 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: width 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-font-smoothing: antialiased;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.search-input {
  margin-bottom: 10px;
}

.page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 5%;
}

.image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 14px;
  background: #423F3E;
}

.container_dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #607D8B;

}

.dialog_main_bg {
  background: #2B2B2B;
}

#background_dia {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}




#main_load {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #171010;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

#loadingsin {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }

  from {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }

  from {
    opacity: 0;
    visibility: hidden;
  }
}



.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

#mainnnnn_bg {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
  background: transparent;
}


.copied-animation {
  -webkit-animation: fadeInOut 1s ease-in-out;
  animation: fadeInOut 1s ease-in-out;
}

@-webkit-keyframes fadeInOut {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

#share_btn {
  padding: 3%;
  border-radius: 200px;
}


.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.enabled {
  pointer-events: visible;
  opacity: 1;
}

#tele_icon {
  width: 20px;
  fill: #CFD8DC;
}

img {
  height: auto;
  width: 100%;
  border-radius: 14px;
}


.collapsed {
  width: 100%;
}

.expanded {
  width: 100%;
}


.collapsed2 {
  visibility: visible;
  width: 90vw;
  height: 80%;
}

.expanded2 {
  visibility: hidden;
  width: 0vw;
  height: 0%;
}

.bounce-click {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.bounce-click:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

#input_d {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[disabled] {
  background-color: #f2f2f2;
  color: #999;
  cursor: not-allowed;
}

